:root {
    --white: #ffffff;
    --off-white: #F3F9F9;
    --contrast: #3D4547;
    --primary: #4DA8BF;
    --secondary: #73BDB8;
    --tertiary: #BADEED;
    --body-font: "DM Sans", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a, button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.33s;
}
input, textarea {
    border: 1px solid #BBC5C7;
    width: 100%;
    background-color: var(--white);
    padding: 11px 15px;
    border-radius: 2px;
    outline: none;
    transition: all 0.33s;
}
textarea {
    height: 88px;
}
input:focus, textarea:focus {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--body-font);
    color: var(--contrast);
    background-color: var(--white);
}
h1 {
    font-size: 64px;
    line-height: 1.06;
    font-weight: 600;
}
h2 {
    font-size: 45px;
    line-height: 1.15;
    font-weight: 600;
}
h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.13;
    margin-bottom: 0;
}
h5 {
    font-weight: 700;
    margin-bottom: 0;
}
h5, .large {
    font-size: 22px;
    line-height: 1.25;
}
:is(h1, h2) span {
    color: var(--primary);
}
P:last-child {
    margin-bottom: 0;
}
.container {
    max-width: 1380px;
    padding: 0 24px;
}
.primary-transparent, .primary-solid {
    padding: 14px 30px;
    color: var(--primary);
    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 56px;
    text-align: center;
}
.primary-transparent:hover {
    background-color: var(--primary);
    color: var(--white);
}
.primary-solid {
    background-color: var(--primary);
    color: var(--off-white);
}
.primary-solid:hover {
    background: transparent;
    color: var(--primary);
}
.transparent-arrow {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: var(--off-white);
}
.transparent-arrow img {
    max-width: 13px;
}
.transparent-arrow:hover {
    color: var(--primary);
}
ul.list-circle-checkmark {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul.list-circle-checkmark li {
    padding-left: 32px;
    background-image: url(../img/icons/checkmark-circle.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left 2px top 2px;
}
.buttons-group {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}
/* Header Style */
.site-header {
    padding: 24px 0;
    background-color: var(--white);
}
nav.navmenu {
    width: 100%;
    padding-left: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
nav.navmenu ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
nav.navmenu ul li a {
    padding: 2px;
    color: var(--contrast);
}
nav.navmenu ul li a:hover {
    color: var(--primary);
}
.navbar-extra-content .primary-transparent {
    padding: 10px 22px;
}

/* Footer Style */
.site-footer {
    padding: 48px 0;
    background-color: var(--contrast);
    color: var(--off-white);
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.site-footer h3 {
    color: var(--primary);
}
.footer-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-buttons a {
    color: var(--off-white);
}
.footer-buttons a:hover {
    color: var(--primary);
}

/* Another Section Style */
.banner-section {
    padding: 92px 0 96px;
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 140px;
}
.banner-content p {
    max-width: 540px;
    margin-bottom: 32px;
}
.banner-content .primary-solid {
    box-shadow: 0px -2px 0px 0px #397B8C inset;
}
.banner-right {
    position: relative;
    margin-bottom: -236px;
}
.banner-right > img {
    width: 100%;
}
.banner-capsul {
    position: absolute;
    top: 32px;
    right: 32px;
    width: calc(53.23% - 64px);
    height: calc(56.25% - 64px);
}
.banner-capsul img {
    border-radius: 16px;
    width: 100%;
}
.banner-right-content {
    width: calc(53.23% - 64px);
    height: calc(56.25% - 64px);
    position: absolute;
    bottom: 32px;
    left: 32px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.about-section, .teaser-article-section {
    padding: 72px 0;
}
.about-section h2 {
    margin-bottom: 72px;
}
.full-height-about-box {
    padding: 32px;
    background-color: var(--off-white);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 100%;
}
.full-height-about-box img {
    margin-top: auto;
}
.single-about-box {
    padding: 32px;
    border: 1px solid #DCE4E5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    min-height: 100%;
}
.full-width-about-box {
    padding: 16px;
    background-color: var(--off-white);
    border-radius: 32px;
}
.single-about-inner-box {
    padding: 24px;
    background-color: var(--white);
    border-radius: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
}
.read-article {
    color: var(--primary);
}
.tertiary-with-bg {
    background-color: var(--tertiary);
    background-image: url(../img/hand-with-jar.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.teaser-article-content {
    padding: 105px 0;
    position: relative;
    z-index: 2;
}
.teaser-article-content::after {
    content: '';
    position: absolute;
    width: 90.40%;
    height: 100%;
    top: 0;
    left: 4.8%;
    background-image: url(../img/teaser-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    z-index: -1;
}
.teaser-article-content h2 {
    text-align: center;
    margin-bottom: 56px;
}
.single-teaser-article {
    padding: 32px;
    background-color: var(--white);
    border-radius: 16px;
    border: 1px solid transparent;
    border-bottom-color: var(--primary);
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    color: var(--contrast);
}
.goal-section {
    padding: 72px 0 140px;
}
.goal-heading {
    max-width: 700px;
    text-align: center;
    margin: 0 auto 120px;
}
.founder-box, .who-we-box, .our-goal-box, .founder-journey {
    padding: 32px;
    border-radius: 24px;
    min-height: 100%;
}
.who-we-box {
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    gap: 48px;
}
.microscope-img {
    flex: 0 0 auto;
}
.who-we-content h5 {
    color: var(--secondary);
    margin-bottom: 8px;
}
.our-goal-box {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: var(--off-white);
}
.our-goal-box img {
    margin-bottom: 12px;
}
.founder-box, .founder-journey {
    border: 1px solid #DCE4E5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.founder-box {
    justify-content: space-between;
}
.founder-title h5 {
    color: var(--primary);
}
.founder-img {
    min-height: 100%;
    background-image: url(../img/blur-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.founder-img img {
    object-fit: cover;
    object-position: center;
}
.contact-section {
    padding: 100px 0;
    background-color: var(--off-white);
    text-align: center;
}
.contact-heading {
    max-width: 720px;
    margin: 0 auto 56px;
}
.contact-heading p {
    max-width: 620px;
    margin: 0 auto;
}
.goal-heading {
    margin-bottom: 48px;
}
.contact-form {
    max-width: 430px;
    margin: 0 auto;
}
.contact-form-content {
    background-color: var(--white);
    padding: 32px;
    border-radius: 2px;
    box-shadow: 0px 32px 32px 8px rgba(34, 52, 56, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
}
.contact-form-content label span {
    display: block;
    padding: 0 16px 4px;
}