:root {
    --white: #ffffff;
    --off-white: #F3F9F9;
    --contrast: #3D4547;
    --primary: #4DA8BF;
    --secondary: #73BDB8;
    --tertiary: #BADEED;
    --body-font: "DM Sans", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a, button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.33s;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--body-font);
    color: var(--contrast);
    background-color: var(--white);
}
h1 {
    font-size: 64px;
    line-height: 1.06;
    font-weight: 600;
}
h2 {
    font-size: 45px;
    line-height: 1.15;
    font-weight: 600;
}
h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.13;
    margin-bottom: 0;
}
:is(h1, h2) span {
    color: var(--primary);
}
p.large {
    font-size: 22px;
    line-height: 1.25;
}
P:last-child {
    margin-bottom: 0;
}
.container {
    max-width: 1380px;
    padding: 0 24px;
}
.primary-transparent {
    padding: 10px 22px;
    color: var(--primary);
    font-weight: 600;
    background-color: #F1FAFD;
    border: 2px solid var(--primary);
    border-radius: 48px;
}
.primary-transparent:hover {
    background-color: var(--primary);
    color: var(--white);
}
.transparent-arrow {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: var(--off-white);
}
.transparent-arrow img {
    max-width: 13px;
}
.transparent-arrow:hover {
    color: var(--primary);
}
ul.list-circle-checkmark li {
    padding-left: 32px;
    background-image: url(../img/icons/checkmark-circle.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left 2px top 2px;
}

/* Header Style */
.site-header {
    padding: 24px 0;
    background-color: var(--white);
}
nav.navmenu {
    width: 100%;
    padding-left: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
nav.navmenu ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
nav.navmenu ul li a {
    padding: 2px;
    color: var(--contrast);
}
nav.navmenu ul li a:hover {
    color: var(--primary);
}

/* Footer Style */
.site-footer {
    padding: 48px 0;
    background-color: var(--contrast);
    color: var(--off-white);
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.site-footer h3 {
    color: var(--primary);
}
.footer-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-buttons a {
    color: var(--off-white);
}
.footer-buttons a:hover {
    color: var(--primary);
}

/* Another Section Style */
.about-section {
    padding: 72px 0;
}
.about-section h2 {
    margin-bottom: 72px;
}
.full-height-about-box {
    padding: 32px;
    background-color: var(--off-white);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 100%;
}
.full-height-about-box img {
    margin-top: auto;
}
.single-about-box {
    padding: 32px;
    border: 1px solid #DCE4E5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    min-height: 100%;
}
.single-about-box ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.full-width-about-box {
    padding: 16px;
    background-color: var(--off-white);
    border-radius: 32px;
}
.single-about-inner-box {
    padding: 24px;
    background-color: var(--white);
    border-radius: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
}
.read-article {
    color: var(--primary);
}
.tertiary-with-bg {
    background-color: var(--tertiary);
    background-image: url(../img/hand-with-jar.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}